doctype html 

html 
  head
    link(
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    )
    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/icon?family=Material+Icons'
    )
    style
      include style.css

  body
    .center
      .title British Columbia Telemetry Warehouse

      .input-field
        i(class='material-icons prefix') mail_outline
        input(id='icon_prefix' type='text' class='validate')
        label(for='icon_prefix') Email Address 


    script(
      type='text/javascript'
      src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
    )
    script
      include logic.js 